<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Attack on Titan</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/16498/Shingeki_no_Kyojin?q=attack%20on%20ti&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Beastars</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/39195/Beastars?q=beastar&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Clannad</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/2167/Clannad?q=clannad&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Code Geass</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/1575/Code_Geass__Hangyaku_no_Lelouch</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Death Note</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/1535/Death_Note?q=death%20note&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fate/Zero</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/10087/Fate_Zero?q=fate%2F&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FLCL</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/227/FLCL</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fullmetal Alchemist</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/5114/Fullmetal_Alchemist__Brotherhood?q=fullmeta&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gintama</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/918/Gintama</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gurren Lagan</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/2001/Tengen_Toppa_Gurren_Lagann?q=gurren%20lagan&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hell Girl</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/228/Jigoku_Shoujo?q=hell%20girl&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Kaguya-sama: Love is War</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/37999/Kaguya-sama_wa_Kokurasetai__Tensai-tachi_no_Renai_Zunousen?q=kagu&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lucky Star</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/1887/Lucky%E2%98%86Star?q=lucky%20&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>My Hero Academia</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/31964/Boku_no_Hero_Academia?q=my%20hero%20&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Neon Genesis Evangelion</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/30/Neon_Genesis_Evangelion?q=neon%20gene&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Nichijou</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/10165/Nichijou?q=nichi&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>No Game No Life</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/19815/No_Game_No_Life?q=no%20game%20&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>One Piece</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/21/One_Piece?q=ine%20piece&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Psycho-Pass</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/13601/Psycho-Pass?q=psycho&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Re:Zero</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/31240/Re_Zero_kara_Hajimeru_Isekai_Seikatsu?q=rezero&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sword Art Online</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/11757/Sword_Art_Online?q=sword%20art&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Melancholy of Haruhi Suzumiya</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/849/Suzumiya_Haruhi_no_Yuuutsu?q=the%20mel&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tokyo Ghoul</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/22319/Tokyo_Ghoul?q=tokyo&amp;cat=anime</string>
	</dict>
	<dict>
		<key>title</key>
		<string>When They Cry</string>
		<key>url</key>
		<string>https://myanimelist.net/anime/934/Higurashi_no_Naku_Koro_ni?q=when%20they%20cry&amp;cat=anime</string>
	</dict>
</array>
</plist>
