<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>recipe</key>
		<string>Chocolate Chip Cookies</string>
		<key>ingredients</key>
		<array>
			<string>1 Cup Challenge Butter, Salted</string>
			<string>1 Cup C&amp;H Pure White Cane Sugar</string>
			<string>1 Cup C&amp;H Light Brown Sugar</string>
			<string>2 Teaspoon McCormick Pure Vanilla Extract</string>
			<string>2 Quantity Kirkland Signature Grade A Organic Large Eggs</string>
			<string>3 Cup King Arthur Whole Wheat Flour</string>
			<string>1 Teaspoon Arm &amp; Hammer Baking Soda</string>
			<string>1/2 Teaspoon Baking Powder</string>
			<string>1 Teaspoon Salt</string>
			<string>2 Cup Kirkland Signature Semi-Sweet Chocolate Chips</string>
		</array>
		<key>nutrition</key>
		<dict>
			<key>serving_size</key>
			<integer>1</integer>
			<key>serving_size_unit</key>
			<string>g</string>
			<key>calories</key>
			<integer>120</integer>
			<key>total_fat</key>
			<real>9</real>
			<key>saturated_fat</key>
			<real>4.5</real>
			<key>trans_fat</key>
			<real>0.9</real>
			<key>cholesterol</key>
			<real>7.8</real>
			<key>sodium</key>
			<real>163.9</real>
			<key>total_carbohydrates</key>
			<integer>23</integer>
			<key>dietary_fiber</key>
			<real>0.4</real>
			<key>sugar</key>
			<real>14.8</real>
			<key>protein</key>
			<integer>2</integer>
			<key>vitamin_a</key>
			<integer>2</integer>
			<key>calcium</key>
			<integer>0</integer>
		</dict>
	</dict>
</array>
</plist>
