<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Dairy &amp; Eggs</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>name</key>
				<string>Challenge Butter, Salted</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Horizon Organic Heavy Whipping Cream</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Kirkland Signature Grade A Organic Large Eggs</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Kirkland Signature Grade A Organic Medium Eggs</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Horizon Organic 2% Reduced Fat Milk</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Dry Ingredients &amp; Spices</string>
		<key>ingredients</key>
		<array>
			<dict>
				<key>name</key>
				<string>Arm &amp; Hammer Baking Soda</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>C&amp;H Light Brown Sugar</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>C&amp;H Pure White Cane Sugar</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>King Arthur Whole Wheat Flour</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>name</key>
				<string>Salt</string>
				<key>nutrition</key>
				<dict>
					<key>serving_size</key>
					<integer>1</integer>
					<key>serving_size_unit</key>
					<string>g</string>
					<key>calories</key>
					<integer>120</integer>
					<key>total_fat</key>
					<real>9</real>
					<key>saturated_fat</key>
					<real>4.5</real>
					<key>trans_fat</key>
					<real>0.9</real>
					<key>cholesterol</key>
					<real>7.8</real>
					<key>sodium</key>
					<real>163.9</real>
					<key>total_carbohydrates</key>
					<integer>23</integer>
					<key>dietary_fiber</key>
					<real>0.4</real>
					<key>sugar</key>
					<real>14.8</real>
					<key>protein</key>
					<integer>2</integer>
					<key>vitamin_a</key>
					<integer>2</integer>
					<key>calcium</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Grains</string>
		<key>ingredients</key>
		<array/>
	</dict>
	<dict>
		<key>category</key>
		<string>Meat</string>
		<key>ingredients</key>
		<array/>
	</dict>
	<dict>
		<key>category</key>
		<string>Seafood</string>
		<key>ingredients</key>
		<array/>
	</dict>
	<dict>
		<key>category</key>
		<string>Vegetables</string>
		<key>ingredients</key>
		<array/>
	</dict>
</array>
</plist>
