<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>genre</key>
		<string>Action</string>
		<key>titles</key>
		<array>
			<string>Attack on Titan</string>
			<string>Fullmetal Alchemist</string>
			<string>Log Horizon</string>
			<string>Rising of the Shield Hero</string>
			<string>Sword Art Online</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Comedy</string>
		<key>titles</key>
		<array>
			<string>Daily Lives of High School Boys</string>
			<string>Gintama</string>
			<string>Lucky Star</string>
			<string>Nichijou</string>
			<string>The Disastrous Life of Saiki K</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Fantasy</string>
		<key>titles</key>
		<array>
			<string>Fate/Zero</string>
			<string>Made in Abyss</string>
			<string>Magi: The Labyrinth of Magic</string>
			<string>No Game No Life</string>
			<string>Re:Zero</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Horror</string>
		<key>titles</key>
		<array>
			<string>Another</string>
			<string>Elfen Lied</string>
			<string>Hell Girl</string>
			<string>Tokyo Ghoul</string>
			<string>When They Cry</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Mecha</string>
		<key>titles</key>
		<array>
			<string>Aldnoah.Zero</string>
			<string>Code Geass</string>
			<string>FLCL</string>
			<string>Gurren Lagen</string>
			<string>Neon Genesis Evangelion</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Mystery</string>
		<key>titles</key>
		<array>
			<string>Bungou Stray Dogs</string>
			<string>Death Note</string>
			<string>Erased</string>
			<string>Monster</string>
			<string>The Melancholy of Haruhi Suzumiya</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Psychological</string>
		<key>titles</key>
		<array>
			<string>Beastars</string>
			<string>From the New World</string>
			<string>Future Diary</string>
			<string>Kakegurui</string>
			<string>Psycho-Pass</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Romance</string>
		<key>titles</key>
		<array>
			<string>Clannad</string>
			<string>Kaguya-sama: Love is War</string>
			<string>My Teen Romantic Comedy SNAFU</string>
			<string>Ouran High School Host Club</string>
			<string>Yona of the Dawn</string>
		</array>
	</dict>
	<dict>
		<key>genre</key>
		<string>Shounen</string>
		<key>titles</key>
		<array>
			<string>Fairy Tail</string>
			<string>My Hero Academia</string>
			<string>Naruto</string>
			<string>One Piece</string>
			<string>Pokemon</string>
		</array>
	</dict>
</array>
</plist>
